This is the update page breh here is our test:
<h3>{{test}}</h3> testing profile info: {{profileInfo}}

<br>
<form ng-submit="updateUser(userWithUpdates)">
	Username:
	<input type="text" ng-model="userWithUpdates.username">
	<br> Email:
	<input type="text" ng-model="userWithUpdates.email">
	<br> Password:
	<input type="text" ng-model="userWithUpdates.password">
	<br> Profile Picture:
	<input type="text" ng-model="userWithUpdates.profPic">
	<br> Genres:
	<input type="text" ng-model="userWithUpdates.genre">
	<br> Instruments:
	<input type="text" ng-model="userWithUpdates.instruments">
	<br> SoundCloud:
	<input type="text" ng-model="userWithUpdates.soundcloud">
	<br> Bio: <br>
	<textarea name="" cols="30" rows="6" maxlength="200" ng-model="userWithUpdates.bio"></textarea>


	<button>Submit Changes</button>
</form>

