<div class="updateContainer container">


	<nav>
		<div id="profileNav" class="nav-wrapper">
			<a href="#!" class="profileTitle brand-logo">MUSICLAB</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="right hide-on-med-and-down">
				
				<li>
					<button class="btn-flat disabled" id="profileButtons" ng-click="goToProfile(profileInfo._id)">Profile</button>
				</li>


			</ul>
			<ul class="side-nav right" id="mobile-demo">
				<li>
					<button class="btn-flat disabled" id="profileButtons" ng-click="goToMatchesPage(profileInfo._id)">Matching</button>
				</li>
				<li>
					<button class="btn-flat disabled" id="profileButtons" ng-click="goToUpdatePage(profileInfo._id)">Update Profile</button>
				</li>


			</ul>
		</div>
	</nav>


	<form ng-submit="updateUser(profileInfo)">
		Username:
		<input type="text" ng-model="profileInfo.username">
		<br> Email:
		<input type="text" ng-model="profileInfo.email">
		<br> Password:
		<input type="text" ng-model="profileInfo.password">
		<br> Profile Picture:
		<input type="text" ng-model="profileInfo.profPic">
		<br> Genres:
		<input type="text" ng-model="profileInfo.genre">
		<br> Instruments:
		<input type="text" ng-model="profileInfo.instruments">
		<br> SoundCloud:
		<input type="text" ng-model="profileInfo.soundcloud">
		<br> Bio:
		<br>
		<textarea name="" cols="30" rows="6" maxlength="200" ng-model="profileInfo.bio"></textarea>


		<button>Submit Changes</button>
	</form>

</div>