<div class="loginContainer container">
	<div class="loginTopHalf">

		<h3 class="loginTitle right">MUSICLAB</h3>


	</div>






	<div class="container right newUserGuy">
		<h6>Create New User</h6>
		<form ng-submit="addNewUser(newUser)">
			<input type="text" placeholder="email.." ng-model="newUser.email">
			<br>

			<input type="text" placeholder="username.." ng-model="newUser.username">
			<br>

			<input type="password" placeholder="password.." ng-model="newUser.password">
			<br>

			<button>Submit</button>

		</form>

	</div>

	<div class="container right loginGuy">
		<h6>Login</h6>
		<form ng-submit="tryToLogin(oldUser)">
			<input type="text" placeholder="email.." ng-model="oldUser.email">
			<br>

			<input type="password" placeholder="password.." ng-model="oldUser.password">
			<br>
			<button>Login</button>
		</form>
	</div>
	<a href="http://localhost:3000/auth/soundcloud">
		<iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fzachary-baker-898410051&color=orange_white&size=64"
		style="width: 64px; height: 64px;"></iframe>
	</a>



</div>