<div class="profileContainer container">this is the friggen profile page breh</br>

{{profileInfo}}



<h1>{{profileInfo.username}}</h1>
<h1>{{profileInfo.email}}</h1>
<h1>{{profileInfo.password}}</h1>


<!--testing socket-->


<input type="text" placeholder="message test" ng-model="newMessage"> <button ng-click="submitMessage()">Submit</button>
<ul>
	<li ng-repeat="message in messages">
		{{message}}
	</li>
</ul>



<!---->

<h3>HERE ARE YOUR MATCHES</h3>
{{matchObjsArr}}

<img ng-src="{{profileInfo.profPic}}">
<br>
<p>{{profileInfo.bio}}</p>
<button ng-click="goToUpdatePage(profileInfo._id)">Update Profile</button>

<button ng-click="goToMatchesPage(profileInfo._id)">Matching</button>

</div>

{{deckOfUsers}}