<div class="profileContainer">

	<nav>
		<div id="profileNav" class="nav-wrapper">
			<a href="#!" class="profileTitle brand-logo right" style="font-size: 40px;">MUSICLAB</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="left hide-on-med-and-down">
				<li>
					<button class="btn-flat disabled" id="profileButtons" ng-click="goToMatchesPage(profileInfo._id)">Matching</button>
				</li>
				<li>
					<button class="btn-flat disabled" id="profileButtons" ng-click="goToUpdatePage(profileInfo._id)">Update Profile</button>
				</li>


			</ul>
			<ul class="side-nav right sideNav" id="mobile-demo">
				<li>
					<button class="btn-flat disabled" id="profileButtons" ng-click="goToMatchesPage(profileInfo._id)">Matching</button>
				</li>
				<li>
					<button class="btn-flat disabled sideNavButtons" ng-click="goToUpdatePage(profileInfo._id)">Update Profile</button>
				</li>


			</ul>
		</div>
	</nav>




	<div class="center">

		<div class="row">
			<div id="profilePageProfileBox" class="center-align left z-depth-5 card-panel col s11 m6 l6 A">



				<h1 class="profileNameText">{{profileInfo.username}}</h1>




				<img class="circle responsive-img profilePictureSize" ng-src="{{profileInfo.profPic}}">
				
			</div>
			<div class="rightColProf right col s11 m5 l5 row">
				<div class="card-panel personalInfoProf left col l12 z-depth-3">

					
					<div class="left-align">
						
						<table>
							<thead>
								<tr>
									<th data-field="id">Info</th>
									<th data-field="name"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Bio:</td>
									<td>{{profileInfo.bio}}</td>
								</tr><tr>
									<td>Genre:</td>
									<td>{{profileInfo.genre}}</td>
								</tr><tr>
									<td>Instruments:</td>
									<td>{{profileInfo.instruments}}</td>
								</tr><tr>
									<td>SoundCloud:</td>
									<td>{{profileInfo.soundcloud}}</td>
								</tr>
							</tbody>
							
						</table>
						
						
					</div>
				</div>
				<messagesaccordion></messagesaccordion>
			</div>
		</div>

	</div>
<!--FOOTER///////////////////////////////////-->
	<footer class="page-footer" style="background: #34495e;">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Go play some music!</h5>
					<p class="grey-text text-lighten-4">Let's rock, let's rock, today!</p>
				</div>
				<div class="col l4 offset-l2 s12">
					<h5 class="white-text">Check Me Out!</h5>
					<ul>
						<li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/bakerzach"><i class="fa fa-linkedin-square"></i></a></li>
						<li><a class="grey-text text-lighten-3" href="https://github.com/ZacharyBaker"><i class="fa fa-github-square"></i></a></li>
						<!--<li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>-->
						<!--<li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>-->
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container">
				© 2015 Copyright Text
				<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
			</div>
		</div>
	</footer>
</div>