* {
	margin: 0;

}

html {
	background: #EEEEEE;
}

/*LOGIN PAGE*/
.loginContainer, .profileContainer, .updateContainer, .matchesContainer {
	font-family: 'Lato', sans-serif;
}

.loginGuy, .newUserGuy {
	max-width: 23%;
	display: inline-block;
	margin: 10px;
	color: #34495e;
}

.newUserGuy {
	border-left: 1px solid black;
	padding-left: 18px;
}

.loginTopHalf {
	height: 450px;
	background-color: #34495e;
	width: 100%;
}

.loginTitle {
	color: white;
	font-size: 90px;
	font-weight: bold;
	padding-right: 30px;
}

/*PROFILE PAGE*/
.profileContainer {
	/*background-color: #34495e;*/
	background-color: #EEEEEE;
}

#profileNav {
	background-color: #34495e;
	
}

.profileTitle {
	
	margin-left: 20px;
	margin-right: 20px;
}


#displayInline {
	display: inline;
}

#profileButtons {
	font-size: 25px;
	white-space: nowrap;
	background-color: #34495e;
	
}
#matchingBox {
	background-color: white;
	margin: 0;
	padding-left: 0px;
	
}

.A {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 40px;
	margin-top: 0px;
}
#profilePageProfileBox {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
#matchingBox {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	/*padding-bottom: 10px;*/
	/*max-width: 49%;*/
}

.chattyBox {
	max-height: 300px;
	overflow-y: scroll;
}

.notificationParent {
	position: relative;
}
.newNotification {
	position: relative;
}
.messageAlignment {
	clear: both;
}

.sideNavButtons {
	font-size: 20px;
	white-space: nowrap;
	background-color: #34495e;
	
}

.sideNav {
	background-color: #34495e;
	max-height: 130px;
	
}

.chatBoxTitle {
	margin-top: 10px;
}

.personalInfoProf {
	max-width: 500px;
	margin-right: 7px;
}
.directiveWrapper {
	min-width: 350px;
	 max-width: 500px;
	 margin-top: 7px;
	 margin-left: 7px;
}
.rightColProf {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}



/*loginpage*/

.updater {
	margin-top: 20px;
}

/*matching*/

.sideNavMatch {
	background-color: #34495e;
	max-width: 170px;
	max-height: 1px;
}

.matchingPageText {
	text-align: left;
	line-height: 40px;
	/*padding-top: 40px;*/
	font-family: 'Lato', sans-serif;
	
}
.uppercase {
	text-transform: uppercase;
}

.matchingButtons {
	background-color: #FC750F;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	margin: 30px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: bold;
}

.matchingBoxLeft {
	/*max-width: 45%;*/
}
.matchingBoxRight {
	/*max-width: 45%;*/
	padding-top: 10px;
}

.matchesBackground {
	background-color: #EEEEEE;
	
}


/*MEDIA QUERIES*/

@media only screen and (max-width: 460px){
	.profileNameText {
	font-size: 30px;
	}
}

@media only screen and (max-width: 993px){
	
	
	
}