* {
	margin: 0;

}

html {
	background: #EEEEEE;
}

/*LOGIN PAGE*/
.loginContainer, .profileContainer, .updateContainer, .matchesContainer {
	font-family: 'Lato', sans-serif;
}

.loginGuy, .newUserGuy {
	max-width: 23%;
	display: inline-block;
	margin: 10px;
	color: #34495e;
}

.newUserGuy {
	border-left: 1px solid black;
	padding-left: 18px;
}

.loginTopHalf {
	height: 450px;
	background-color: #34495e;
	width: 100%;
}

.loginTitle {
	color: white;
	font-size: 90px;
	font-weight: bold;
	padding-right: 30px;
}

/*PROFILE PAGE*/
.profileContainer {
	/*background-color: #34495e;*/
	background-color: #EEEEEE;
}

#profileNav {
	background-color: #34495e;
	position: relative;
}

.profileTitle {
	
	margin-left: 20px;
	margin-right: 20px;
	font-size: 50px;
}

.profilePictureSize {
	max-height: 400px;
	min-height: 40px;
}


#displayInline {
	display: inline;
}

#profileButtons {
	font-size: 15px;
	white-space: nowrap;
	background-color: #34495e;
	
}
#matchingBox {
	background-color: white;
	margin: 0;
	padding-left: 0px;
	/*width: 40px;*/
	overflow-y: scroll;
	
}

.A {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 40px;
	margin-top: 0px;
}
#profilePageProfileBox {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	max-width: 720px;
	/*max-height: 530px;
	min-height: 530px;*/
	height: 550px;
}
#matchingBox {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	/*padding-bottom: 10px;*/
	/*max-width: 49%;*/
}

.chattyBox {
	max-height: 125px;
	overflow-y: scroll;
}

.notificationParent {
	position: relative;
}
.newNotification {
	position: relative;
}
.messageAlignment {
	clear: both;
}

.sideNavButtons {
	font-size: 20px;
	white-space: nowrap;
	background-color: #34495e;
	
}

.sideNav {
	background-color: #34495e;
	max-height: 130px;
	
}

.chatBoxTitle {
	margin-top: 10px;
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 5px;
}

.personalInfoProf {
	max-width: 500px;
	margin-right: 7px;

}
.directiveWrapper {
	/*min-width: 350px;*/
	 /*max-width: 500px;*/
	 /*width: 500px;*/
	 margin-top: 7px;
	 margin-left: 7px;
}
.rightColProf {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}



/*loginpage*/

.updater {
	margin-top: 20px;
}

/*matching*/

.sideNavMatch {
	background-color: #34495e;
	max-width: 170px;
	max-height: 1px;
}

.matchingPageText {
	text-align: left;
	line-height: 40px;
	/*padding-top: 40px;*/
	font-family: 'Lato', sans-serif;
	padding-left: 15px;
	margin-top: 40px;
}
.uppercase {
	text-transform: uppercase;
}

.matchingButtons {
	background-color: #FC750F;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	margin: 30px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: bold;
}

.matchingBoxLeft {
	margin-top: 0px;
}
.matchingBoxRight {
	/*max-width: 45%;*/
	padding-top: 10px;
	padding-bottom: 10px;
	max-height: 400px;
	min-height: 300px;
	/*margin-top: 30px;*/
}

.matchesBackground {
	background-color: #EEEEEE;
	
}
.contentBox {
	padding-left: 10px;
	padding-right: 10px;
}


.individualMessages {

	border-radius: 5px;


	padding: 2px 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	background-color: #1E96FE;
	color: white;
}


.senderColorMessage {
	background-color: #E6E5EB;
	color: black;
}

.noMoreMatches {
	margin-bottom: 100px;
	padding-right: 50px;
	padding-left: 50px;
	text-align: center;
}


.newLogo {
	width: 200px;
	margin-top: 10px;
	margin-right: 10px;
}



/*MEDIA QUERIES*/

@media only screen and (max-width: 460px){
	.profileNameText {
	font-size: 30px;
	}
	#profilePageProfileBox {
		max-height: 400px;
	}
	
}

@media only screen and (max-width: 400px){
	
	.directiveWrapper {
		margin-right: 45px;
	}
	.personalInfoProf {
		margin-right: 45px;
	}
}


@media only screen and (min-width: 600px){
	.matchingRightCol {
		margin-left: 15px;
		margin-top: 50px;
		width: 500px;
		
	}
	.matchingBoxLeft {
		margin-right: 15px;
		max-width: 45%;
		margin-top: 50px;
	}
	.rightColProf {
		margin-right: 30px;
	}
}

@media only screen and (min-width: 1200px){
	#matchingBox {
		width: 500px;
		height: 239px;
		margin-right: 32px;
		/*margin-right: 20px;*/
		padding-right: 0px;
	}
}
@media only screen and (max-width: 1200px){
	#matchingBox {
		width: 400px;
		padding-right: 0px;
		margin-top: 0px;
		height: 239px;
	}
}@media only screen and (max-width: 540px){
	#matchingBox {
		max-width: 340px;
		padding-right: 0px;
		margin-top: 0px;
		margin-right: 30px;
	}
	.preMatch {
		display: none;
	}
}

@media only screen and (max-width: 840px){
	#matchingBox {
		/*width: 100%;*/
		width: 325px;
	}
}

@media only screen and (max-width: 410px){
	.matchingRightCol {
		margin-top: 20px;
	}
}