<div class="matchesContainer container">

	<nav>
		<div id="profileNav" class="nav-wrapper">
			<a href="#!" class="profileTitle brand-logo right">MUSICLAB</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul class="left hide-on-med-and-down">
				
				<li>
					<button class="btn-flat disabled" id="profileButtons" ng-click="goToProfile(profileInfo._id)">Profile</button>
				</li>


			</ul>
			<ul class="side-nav right sideNavMatch" id="mobile-demo">
				
				<li>
					<button class="btn-flat disabled sideNavButtons" ng-click="goToProfile(profileInfo._id)">Profile</button>
				</li>

			</ul>
		</div>
	</nav>



	<img ng-src="{{potentialCollaborator.profPic}}">
	<h3>{{potentialCollaborator.username}}</h3> {{potentialCollaborator.bio}}
	<button ng-click="wantsToCollab()">Collab?</button>
	<button ng-click="noThanks()">OrNah?</button>



</div>

this is the potential collaborator {{potentialCollaborator}}